{% extends "placeSolette.html" %}
{% block prefix %} {# this gcode handles popping a backing from the hopper and advancing it until it's ready to place solettes #}
G0X{{ factoryState.strokeLead }}  # move up until the pusher is contacting the PCB
G0X{{ factoryState.strokeEnd }}  # now the PCB should by touching the edge of the next PCB
G0X{{ panel.margin }}  # now we're aligned with the edge of the active area
G0X{{ panel.active-margin }}
,
{% endblock %}
{% block postfix %}  {# here's the gcode that happens after you place all the solettes #}
G0X-{{ factoryState.strokeLead }}  # move back the entire stroke length
G0X-{{ factoryState.strokeEnd }}  # move back the entire stroke length
G0X-{{ panel.length }}  # move back the entire stroke length
, 
{% endblock %}
