input.button {
-moz-box-shadow:inset 0px 1px 3px 0px #ffffff;
-webkit-box-shadow:inset 0px 1px 3px 0px #ffffff;
box-shadow:inset 0px 1px 3px 0px #ffffff;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
background-color:#ededed;
-moz-border-radius:39px;
-webkit-border-radius:39px;
border-radius:39px;
border:1px solid #dcdcdc;
width:280px;
display:inline-block;
color:#666666;
font-family:arial;
font-size:16px;
margin-top: 5px;
font-weight:bold;
padding:8px 29px;
text-decoration:none;
text-shadow:3px 2px 4px #ffffff;
}.button:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ababab), color-stop(1, #cdcdcd) );
background:-moz-linear-gradient( center top, #dcdcdc 5%, #cecece 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ababab', endColorstr='#cdcdcd');
}.button:active {
background:-moz-linear-gradient( center top, #cbcbcb 5%, #bdbdbd 100% );
position:relative;
top:1px;
}

div#queueHeading{
font-weight: bold;
font-size: 14pt;
}

div#pointQueue{
}

div#controls{
}

canvas#points{
    outline: solid;
    width: 800px;
    height: 400px;
    margin: 10px;
    background-color: #005500;
}

span.command-type{
margin-right: 5px;
}


input.danger{
    background-color: #ff8888;
    color: #ff8888;
    margin-top: 50px;
}

span.point-distance{
margin-right: 5px;
}

div.command-list{
width: 90%;
height: 40px;
padding: 5px;
margin-bottom: 5px;
background-color: #EECCCC;
}

button.command-button{
text-align: right;
float: right;
}

div#jobs{
width: 90%;
height: 400px;
overflow: scroll;
outline:#000000 solid;
}


div.motionCommands{
width:450px;
float:left;
}

div#tabs{
float: left;
width: 100%;
}

div#utility{
float: left;
width: 100%;
}

div.utility{
width:33%;
float:left;
}

input#soletteButton{
    margin-bottom:  25px;
}

div.panelButton{
    width:60%;
    float:left;
}

div.panelParameters{
    margin-left:  20px;
    margin-top:  5px;
    width:100px;
    float:left;
}

div.buttons{
width:60%;
float:left;
}

div.adjustableCommand{
margin-bottom:10px;
float:left;
}

div.commandButtons{
width: 60%;
float:left;
}


div.parameter{
margin-left:  20px;
padding-top:  41px;
float:left;
}


div.singleParameter{
padding-top:  7px;
margin-left:  48px;
float: left;
}

input.parameter{
width: 50px;
}

div.factoryStateColumn1{
    width: 50%;
    float: left;
}

div.factoryStateColumn2{
    width: 50%;
    float: left;
}

input.factoryStateValue{
    width:  80px;
    margin-left: 10px;
}

input.factoryStateButton{
    width:125px;
}

div.factoryStateValue{
    width: 100%;
}

input.PanelStateButton{
    width:200px;
}

div.panelValue{
    width: 80px;
    margin-left: 10px;
}

button#E-stop{

}