 <html>
<head>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script src="http://solarpocketfactory.com/static/js/interface.js"></script>
<link rel="stylesheet" type="text/css" href="http://solarpocketfactory.com/static/css/interface.css">
 <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
</head>
<body>
<div id="tabs">
  <ul>
    <li><a href="#panelProduction">Panel Production</a></li>
    <li><a href="#panelSetup">Panel Setup</a></li>
    <li><a href="#utility">Utility</a></li>
  </ul>
  <div id="panelProduction">
    {% include "panelProduction.html" %}
  </div>
  <div id="panelSetup">
    {% include "panelSetup.html" %}
  </div>
  <div id="utility">
    {% include "utility.html" %}
  </div>
</div>
 


</body>
</html>
