<div id="Factory Status">
  <div id="pointQueue">
    <div id="queueHeading">
      points in machine queue
      <div id='controls'>
      <input type="button" class="button"  id="deleteAllPoints" onClick="deleteAllPoints();" value="Delete All Points">
      <input type="button" class="button" value="step" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="executeAll" onclick="sendPost($(this).val())" /> 
      </div>
    </div>
    <canvas id="points">
      </canvas>

    <div id="jobs">
      </div>

  </div>
  <div id ="machineStatus">
    </div>
</div>
