<div class="motionCommands">
<div id="placement">
  <input type="button" class="button" value="placePanel" id="panelButton" onclick="sendPost($(this).val())" />      
  <input type="button" class="button" value="placeSolette" id="soletteButton" onclick="sendPost($(this).val())" />      
  
</div>

<div id="motion">
      <div class="adjustableCommand">
	<div class="commandButtons">
	  <input type="button" class="button" value="movePickIn" onclick="pick($(this).val())" />  
	  <input type="button" class="button" value="movePickOut" onclick="pick($(this).val())" />  
	</div>
	<div class="parameter">
	  <input type="text" class="parameter" value="259" id="pick"> mm
	</div>
      </div>

      <div class="adjustableCommand">
	<div class="commandButtons">
	  <input type="button" class="button" value="raiseSolettes" onclick="solettes($(this).val())" />  
	  <input type="button" class="button" value="lowerSolettes" onclick="solettes($(this).val())" />
	</div>
	<div class="parameter">
	  <input type="text" value="5" class="parameter"  id="solettes"> mm
	</div>
      </div>

      <div class="adjustableCommand">
	<div class="commandButtons">
	  <input type="button" class="button" value="retractConveyor" onclick="conveyor($(this).val())" />
	  <input type="button" class="button" value="advanceConveyor" onclick="conveyor($(this).val())" />
	  </div>
	<div class="parameter">
	  <input type="text" value="5" class="parameter" id="conveyor"> mm
	</div>
      </div>

      <div class="adjustableCommand">
	<div class="commandButtons">
	  <input type="button" class="button" value="retractTabbing" onclick="tabbing($(this).val())" />
	  <input type="button" class="button" value="advanceTabbing" onclick="tabbing($(this).val())" />
	</div>
	<div class="parameter">
	  <input type="text" value="5" class="parameter" id="tabbing"> mm
	</div>
      </div>
      <div class="adjustableCommand">
	<div class="commandButtons">
	  <input type="button" class="button" value="solderingPower" onclick="solderingPower($(this).val())" />
	  </div>
	<div class="singleParameter">
	  <input type="text" value="10" class="parameter" id="solderingPower"> %
	</div>
      </div>

      <div class="adjustableCommand">
	<div class="commandButtons">
	  <input type="button" class="button" value="retractPusher" onclick="pusher($(this).val())" />
	  <input type="button" class="button" value="advancePusher" onclick="pusher($(this).val())" />
	  </div>
	<div class="parameter">
	  <input type="text" value="5" class="parameter" id="pusher"> mm
	</div>
      </div>

      <input type="button" class="button" value="solderingStationOn" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="solderingStationOff" onclick="sendPost($(this).val())" /> 


</div>
</div>

<div class="utility">
      <input type="button" class="button" value="raisePickHead" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="lowerPickHead" onclick="sendPost($(this).val())" />
      <input type="button" class="button" value="moveToSolettePickup" onclick="sendPost($(this).val())" />
      <input type="button" class="button" value="moveToConveyor" onclick="sendPost($(this).val())" />

      <input type="button" class="button" value="suctionOn" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="suctionOff" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="tabbingCutterUp" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="tabbingCutterDown" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="testStationUp" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="testStationDown" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="solderingStationUp" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="solderingStationDown" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="lightsOn" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="lightsOff" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="startup" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="primeMachine" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="homeAxes" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="solder" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="panel" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="addShingledPanel" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="makeShingledPanel" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="point" onclick="sendPost($(this).val())" /> 


</div>

